<div class="modal">
    <div class="modal__inner">
        <div class="modal__close"></div>
        <div class="modal__content">
            <img class="modal__content-img" src="" alt="">
            <div class="modal__content-info">
                <div class="modal__content-info__days">
                    <span>пн</span>
                    <span>ср</span>
                    <span>пт</span>
                    <span class="modal__content-info__time">20:00</span>
                </div>
                <span> <span>25</span> - человек</span>
            </div>
        </div>
        <div class="modal__info">
            <div class="modal__info-wrapper">
                <h2 class="heading heading__modal">группа</h2>
                <div class="modal__info-wrapper">
                    <span class="modal__info-trainer">тренер</span>
                    <span class="modal__info-price">цена</span>
                </div>
                <form class="modal__form" action="#">
                    <label class="modal__form-label" for="user-name">
                        Фио
                        <input class="modal__form-input" type="text" id="user-name">
                    </label>
                    <label class="modal__form-label" for="user-phone">
                        телефон
                        <input class="modal__form-input" type="number" id="user-phone" inputmode="tel">
                    </label>
                    <label class="modal__form-label" for="user-email">
                        Почта
                        <input class="modal__form-input" type="email" id="user-email" inputmode="email">
                    </label>
                    <span>Нажимая на кнопку, я соглашаюсь на <a
                            href="#">обработку персональных данных и с договором оферты</a> </span>
                    <input type="submit" value="Оплатить">
                </form>
            </div>
        </div>
    </div>
</div>