<section class="section section__services">
    <div class="container">
        <h2 class="heading heading__services">Услуги</h2>
    </div>
    <div class="services">
        <div class="services__card">
            <span class="services__card-group-name">Взрослая группа "опытные"</span>
            <figure>
                <img class="services__card-banner" src="./assets/img/3.png" alt="" loading="lazy">
            </figure>
            <div class="services__card-inner">
                <span>Тренер:</span> <span class="services__card-trainer">Александр Ивановский</span>
            </div>
        </div>
        <div class="services__card">
            <figure>
                <img class="services__card-banner" src="./assets/img/8.png" alt="" loading="lazy">
            </figure>
            <span class="services__card-group-name">Взрослая группа "Начинающие"</span>
            <div class="services__card-inner">
                <span>Тренер:</span> <span class="services__card-trainer">Александр Ивановский</span>
            </div>
        </div>
        <div class="services__card">
            <figure>
                <img class="services__card-banner" src="./assets/img/6.png" alt="" loading="lazy">
            </figure>
            <span class="services__card-group-name">Детская группа 7-13 лет</span>
            <div class="services__card-inner">
                <span>Тренер:</span> <span class="services__card-trainer">Александр Ивановский</span>
            </div>
        </div>
        <div class="services__card">
            <figure>
                <img class="services__card-banner" src="./assets/img/5.png" alt="" loading="lazy">
            </figure>
            <span class="services__card-group-name">Детская группа 4-6 лет</span>
            <div class="services__card-inner">
                <span>Тренер:</span> <span class="services__card-trainer">Александр Ивановский</span>
            </div>
        </div>
        <div class="services__card">
            <figure>
                <img class="services__card-banner" src="./assets/img/1.png" alt="" loading="lazy">
            </figure>
            <span class="services__card-group-name">Взрослая группа "опытные"</span>
            <div class="services__card-inner">
                <span>Тренер:</span> <span class="services__card-trainer">Максим Шайдаров</span>
            </div>
        </div>
        <div class="services__card">
            <figure>
                <img class="services__card-banner" src="./assets/img/7.png" alt="" loading="lazy">
            </figure>
            <span class="services__card-group-name">Детская группа</span>
            <div class="services__card-inner">
                <span>Тренер:</span> <span class="services__card-trainer">Максим Шайдаров</span>
            </div>
            <a class="services__card-link" href="#"></a>
        </div>
    </div>
</section>