<section class="section section__trainers">
    <div class="container">
        <div class="section__trainers-inner">
            <ul class="section__trainers-list">
                <li class="section__trainers-item">Тренировки по Бразильскому Джиу-джитсу и Грэпплингу в Gracie Barra
                    для&nbsp;взрослых и детей от 5 лет.
                </li>
                <li class="section__trainers-item">Формируем из детей личностей и мотивируем
                    на&nbsp;тренировки взрослых.
                </li>
                <li class="section__trainers-item">Обучаем&nbsp;BJJ, Грэпплингу и готовим чемпионов.</li>
            </ul>
        </div>
        <div class="trainers">
            <div class="trainers__inner">
                <div class="trainers__card">
                    <span class="trainers__subheading">тренер по джиу - джитсу</span>
                    <h2 class="heading heading__trainer">Александр Ивановский</h2>
                    <p class="trainers__info">На тренировках вы узнаете, как устроено джиу-джитсу, научитесь
                        координировать
                        своё тело в разминочных
                        упражнениях, прокачаете своё тело и выносливость.</p>
                    <p class="trainers__info">Научитесь поднимать своё тело с лежачего положения в стойку, узнаете
                        основы
                        борьбы в положении
                        лежа.</p>
                </div>
                <img class="trainers__img" src="./assets/img/4.png" alt="Тренер Александр Ивановский"  width="451" height="660" loading="lazy">
            </div>
            <div class="trainers__inner">
                <img class="trainers__img" src="./assets/img/2.png" alt="Тренер Максим Шайдаров" width="451" height="418" loading="lazy">
                <div class="trainers__card">
                    <span class="trainers__subheading">тренер по джиу - джитсу</span>
                    <h2 class="heading heading__trainer">Максим
                        шайдаров</h2>
                    <p class="trainers__info">Сделаю всё&nbsp;, чтобы&nbsp;ваше физическое развитие и&nbsp; шаги в&nbsp;джиу-джитсу были интересными, увлекательными и&nbsp;продуктивными.</p>
                </div>
            </div>
        </div>
    </div>
</section>